:root {
  --primary: #5c0099;
  --primary_hover: #4c0080;
  --primary_light: #ffe6cc;
  --secondary: #ff9933;
  --secondary_hover: #e65c00;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100%; /* Make the background fill the viewport initially */
  background-color: #e6e6e6;
  top: 0;
  left: 0;
  z-index: -2;
  /* Allow it to extend beyond the viewport */
  min-height: 100vh; /* Full viewport height */
}

.navbar {
  background-color: var(--primary);
  position: absolute;
  z-index: 1;
  height: 3.5rem;
  /* position: static; */
}
.logo {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  transition: 0.2s;
}
.logo:hover {
  background-color: #e6e6e6;
  transform: scale(102%);
}
.logoImage {
  height: 100%;
  width: 100%;
}
.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.miniIcon {
  width: 20px;
  height: 20px;
}
/* .mainProfilePicture {
  background: #ffff;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.4s ease, transform 0.4s ease;
}

.mainProfilePicture:hover {
  transform: scale(102%);
  background-position: left bottom;
} */
.mainProfilePicture {
  background: linear-gradient(
    to right,
    var(--secondary),
    var(--primary),
    var(--primary)
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.4s ease, transform 0.4s ease;
}

.mainProfilePicture:hover {
  transform: scale(102%);
  background-position: left bottom;
}

.profilePicture {
  height: 50px;
  width: 50px;
  background-color: #e6ccff;
  border-radius: 50%;
  overflow: hidden;
  border: none;
}
.DiaryImage {
  width: 100%;
}
.btn:focus {
  border: none;
}
.primaryButton {
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  transition: 0.3s;
  color: #ffff;
}
.primaryButton:hover {
  background-color: var(--primary_hover);
}
.secondaryButton {
  /* background-color: var(--primary); */
  background-color: transparent;
  border: none;
  border-radius: 5px;
  /* padding: 5px 20px 5px 20px; */
  transition: 0.3s;
  color: var(--primary);
}
.secondaryButton:hover {
  /* background-color: var(--primary_hover); */
  color: var(--primary_hover);
}
.purpleButton {
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  transition: 0.3s;
  color: white;
}
.purpleButton:hover {
  background-color: var(--primary_hover);
}
.orangeButton {
  background-color: var(--secondary);
  border: none;
  color: white;
  transition: 0.2s;
  border-radius: 5px;
}
.orangeButton:hover {
  background-color: var(--secondary_hover);
}
.InteractButton {
  width: 100%;
  background-color: #ffff;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px 20px;
  transition: all 0.3s ease;
  color: gray;
}

.InteractButton:hover {
  background-color: lightgray;
}

.InteractButton.active {
  /* background-color: #ff8533; */
  border: 1px solid lightgray;
  color: var(--secondary);
}

.InteractButton.expand {
  transform: scale(102%);
  transition: transform 0.2s ease;
}

.linkText {
  background-color: transparent;
  border: none;
  color: gray;
  transition: 0.3s;
  padding: 5px;
  border-radius: "10px";
  text-decoration: none;
}
.linkText:hover {
  color: var(--secondary);
  background-color: #ffff;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
}
.form {
  width: clamp(400px, 40%, 500px);
}
.journalEntries {
  cursor: pointer;
  transition: 0.3s;
}
.journalEntries:hover {
  background-color: #ffff;
}
.grayHover {
  background-color: #e6e6e6;
  cursor: pointer;
  transition: 0.3s;
}
.grayHover:hover {
  background-color: #d9d9d9;
}
.hoverUnderline:hover {
  text-decoration: underline;
}

/* .threeDots {
  background-color: transparent !important;
  border: none !important;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
}
.threeDots:hover {
  background-color: #ffff !important;
  color: black !important;
} */
.noDisplay {
  position: absolute;
  opacity: 0;
}
.ChatButton {
  position: fixed; /* Changed from absolute to fixed */
  display: inline-block;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}

.ChatButton button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--primary);
  padding: 5px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.ChatButton button:hover {
  background-color: var(--primary_hover);
  transform: scale(105%);
}
.ChatButton button img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.ChatButton .tooltiptext {
  width: 150px;
  background-color: var(--primary);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease, right 0.3s ease;
  pointer-events: none;
}

.ChatButton button:hover .tooltiptext {
  opacity: 1;
  right: 110%;
}

/* For LOGIN and REGISTER PAGE transition */
.fade-container {
  transition: opacity 0.3s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

/* FOR REMOVING BLUE BORDER ON INPUTS */
input.form-control:focus {
  outline: 1px solid lightgray;
  border: 1px solid lightgray;
  box-shadow: none;
  background-color: #ffff;
}

/* FOR SCHROLL BAR */

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
  transition: 0.2s;
}
.custom-scrollbar:hover {
  scrollbar-width: thin;
  scrollbar-color: #ababab #f1f1f1;
}

/* FOR DATE SELECTORS */
/* Styles for the select elements and their options */
.dateSelector {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 25px;
  font-weight: bold;
  padding: 0 8px;
}
.dateSelector:focus {
  border: none;
  outline: none;
}
/* Styles for the options inside the select dropdown */
.dateOption {
  color: black;
  font-size: 17px;
  font-weight: normal;
}

/* Add this to style the container */
.dateContainer {
  background-color: var(--primary);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: start;
}
.days,
.days h5 {
  cursor: pointer;
  transition: 0.2s;
}
.days:hover {
  transform: scale(102%) !important;
}
.days:hover h5 {
  color: var(--secondary) !important;
}

/* ACCORDION CUSTOMIZE */
.accordion-item {
  border: none !important;
  background-color: transparent !important;
  color: gray !important;
}

.accordion-button {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: transparent !important;
}

.accordion-button::after {
  display: none !important;
}
